html,
body {
    height: 100%;
    background-color: #F3F3F4;
    font-family: 'Open Sans', sans-serif;
}
.footer {
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.full-width{
    width: 100%;
}

.navbar-brand {
   padding: 3px 15px;
}

.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    color: #2F4050;
    height: 70px;
}
.navbar-default .navbar-nav > li > a {
    color: #2F4050;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ccc;
    background-color: transparent;
}
.panel-default > .panel-heading {
    background-color: #2F4050;
    border-color: #ddd;
    color: #fff;
}
.breadcrumb {
    background-color: #fff;
}
/* Sidebar */
#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 70px;
    width: 250px;
    background: #2F4050;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
    overflow: auto;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 250px;
}
#wrapper.active #sidebar-wrapper {
    left: 250px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #a7b1c2;
    display: block;
    float: left;
    text-decoration: none;
    width: 100%;
    background: #2F4050;
}
.sidebar-nav li.active a {
    background: #293846;
    border-left: 4px solid #19aa8d;
    color: #fff;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 5px;
}
.dropdown-menu li {
    text-indent: 10px;
}
.sidebar-nav li a {
  color: #a7b1c2;
  display: block;
  text-decoration: none;
  padding: 5px 0;
}

.sidebar-nav li a:hover {
  background-color: #293846;
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  background-color: #293846;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #293846;
    border-color: #337ab7;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
   float:right;
   padding-right: 30px;
   padding-top:20px;
}
#wrapper:not(.active) .sub_icon
{
   float:right;
   padding-right: 30px;
   padding-top:10px;
}
.sub_icon{
    margin-right: 20px;
}
.sidebar-nav .fa{
   padding: 10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#wrapper:not(.active) .profile-img{
    display: none;
}
.profile-img{
    background-color: #233646;
    padding: 20px 0;
}
.profile-img h5{
    color: #a7b1c2;
}
.sidebar-nav .dropdown-menu {
    background: inherit;
    border: none;
    border-radius: 0;
    box-shadow: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 0;
    width:100%;
    padding: 0;
    text-align: left;
    position: relative;
    top: 100%;
}
.panel {
    border-radius: 0;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-default > .panel-heading {
    border-top: 4px solid #19aa8d;
    background-color: transparent;
    color: #333;
}
.white-background{
    background: #fff;
}
/* css for scroll box */
.scrollbox {
  height:200px;
  overflow-y:scroll;
  padding: 2px;
  width: 100%;
}
#flightfilterform-brand .checkbox {
    width: 32%;
    padding: 2px;
}
/* Hr */
hr{
    margin-bottom: 10px;
    margin-top: 10px;
    border-style: dashed none none;
    border-color: #ccc;
}

h5{
    font-weight: bold;
}

/* Map div*/
.map-div{
  width: 100%;
  height: 400px; 
  margin: 10px;  
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }
    #sidebar-wrapper {
        left: 70px;
    }
    #wrapper.active {
        padding-left: 150px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 100%;
        transition: all .4s ease 0s;
    }
}